@media only screen and (max-width: 768px) {
    header .navbar-brand {
        padding-left: 1rem;
    }

    .utama .row .col-md-6 .panel {
        position: initial;
        width: initial;
        height: initial;
    }

    .article {
        margin: 0.1em;
    }

    .blog1 .row .col-md-3 {
        padding-top: 0;
    }

    .footer {
        text-align: center;
    }
}

@media (min-width: 576px) {
    .form-group {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .form-group {
      max-width: 720px;
    }
  }